SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

#min   hour    day      month   weekday     user    command
*/5     *       *       *       *           root    /usr/local/bin/drush -r /var/www/html cron >> /var/log/cron.log 2>&1